*, *::before, *::after {
    box-sizing: border-box;
}

/* Styling for the body*/
body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
body {
    align-items: center;
    justify-content: center;
    display: flex;
}
body {
    background-color: darkslategray;
}
.container {
    width: 800px;
    max-width: 80%;
    background-color: aquamarine;
    border-radius: 10%;
    padding: 2% 6% 2% 6%;
    box-shadow: 0 0 30px 5px;
}
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
}
.btn {
    background-color: burlywood;
    padding: 10%;
    border-radius: 8%;
    border: 2px solid darkslategray;
    margin: 3%;
}
.btn:hover {
    box-shadow: 0 0 50px 15px;
}
.control-btn {
    padding: 2%;
    background-color: burlywood;
    border-radius: 8%;
    border: 2px solid darkslategray;
    margin: 3%;
}
.control-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.control-btn:hover {
    box-shadow: 0 0 50px 15px;
}
.hide {
    display: none;
}